<nav class="w-full fixed top-0 z-50 opacity-90">
  <div class="container mx-auto flex justify-center items-center p-4">
    <ul class="flex space-x-4 items-center">
      <li><a href="/" class="hover:underline btn bg-green-800 text-white">Home</a></li>
      <li><a href="/tours" class="hover:underline btn bg-green-600 text-white py-8 px-6">Tours</a></li>
      <li><a href="/contact" class="hover:underline btn bg-green-800 text-white">Contact</a></li>
    </ul>
  </div>
</nav>
