<nav class="w-full fixed bottom-0 z-50 opacity-90">
  <div class="container mx-auto flex justify-center items-center p-4">
    <ul class="flex space-x-2 items-center">
      <li><a href="/" class="hover:bg-green-300 hover:text-gray-800 btn bg-green-800 font-bold text-white">Home</a></li>
      <li><a href="/tours" class="hover:bg-green-300 hover:text-gray-800 btn bg-green-600 font-bold text-white py-8 px-6">Tours</a></li>
      <li><a href="/contact" class="hover:bg-green-300 hover:text-gray-800 btn bg-green-800 font-bold text-white">Contact</a></li>
    </ul>
  </div>
</nav>
