---
import Layout from '../layouts/PageLayout.astro';
import MainSlider from '~/components/MainSlider.astro';
import  tours from '~/data/tours';

---

<Layout title="Osanature Tours | Eco Adventures in Osa Peninsula">
  <main class="min-h-screen bg-gradient-to-b from-green-50 to-green-100">
      <MainSlider tours={tours} />
  </main>
</Layout>
