---
import TourCard from '~/components/TourCard.astro';
import Layout from '~/layouts/PageLayout.astro';
import  tours from '~/data/tours';

const metadata = {
  title: 'Tours',
};
---

<Layout metadata={metadata}>
  <main class="min-h-screen bg-gradient-to-b from-green-50 to-green-100">
    <div class="flex justify-center">
      <h1 class="text-3xl font-extrabold text-green-50">
        Tours
      </h1>
    </div>

    <div class="container">
      <div class="grid grid-cols-1 gap-8">
        <section class="pb-32 container mx-auto px-4">
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            {tours.map(tour => <TourCard {...tour} />)}
          </div>
        </section>
      </div>
    </div>
  </main>
</Layout>
