---
import Layout from '~/layouts/Layout.astro';
import Footer from '~/components/widgets/Footer.astro';
import Navbar from '~/components/widgets/Navbar.astro';


import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <slot name="header">
    <Navbar />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">

  </slot>
</Layout>
