---
import '~/assets/styles/tailwind.css';
import '../assets/styles/swiper-custom.css';

import { I18N } from 'astrowind:config';
// Comment the line below to disable View Transitions
import { ClientRouter } from 'astro:transitions';

import Navbar from '~/components/Navbar.astro';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
const { language, textDirection } = I18N;
---

<!doctype html>
<html lang={language} dir={textDirection} class="2xl:text-[20px]">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <ClientRouter fallback="swap" />
    <!-- Puedes agregar más tags aquí (ej. SEO, favicon, title, etc.) -->
    {metadata?.title && <title>{metadata.title}</title>}
  </head>

  <body class="antialiased text-default bg-page tracking-tight">
    <header>
      <Navbar />
    </header>
    <main>
      <slot />
    </main>
    <!-- Otros scripts necesarios -->
    <slot name="scripts" />
  </body>
</html>
